/* ============================================================*/
/* Html
/* ============================================================*/

:root {
    --header: #ffffff;
    --body: #ffffff;
    --footer: #ffffff;
    --blue: #13274A;
    --bluesky: #407EC9;
    --grey: #3C3C3B;
    --white: #ffffff;
    --filter: 0;
}

html[data-theme="dark"] {
    --header: #13274A;
    --body: #13274A;
    --footer: #13274A;
    --blue: #ffffff;
    --bluesky: #ffffff;
    --grey: #ffffff;
    --white: #13274A;
    --filter: 1;
}

/* ============================================================*/
/* Navbar
/* ============================================================*/
#navbar img {
    width: 10.5rem;
    height: 4.5rem;
    filter: brightness(var(--filter));
}

#navbar a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--bluesky);
    margin: 0 8px;
    transition: all 0.5s ease;
}

#navbar a span {
    background: #407EC9;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 50px;
}

#navbar a:hover {
    filter: opacity(0.8);
}

/* ============================================================*/
/* Auth
/* ============================================================*/
.auth .ant-form {
    width: 65%;
    margin: auto;
}

.auth h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    margin: 10px 0 35px 0;
}

.auth input {
    border-radius: 50px;
    padding: 8px 25px;
    border: 2px solid var(--greylight);
}

.auth .component {
    font-size: .8rem;
    font-weight: 600;
    color: var(--bluesky);
    float: right;
    margin: 5px 0 0 0;
}

.auth hr {
    background: var(--grey);
    height: 2px;
    border: none;
    margin: 27px 0;
    opacity: .1;
}

.auth .footer {
    width: 65%;
    margin: auto;
}

.auth h3 {
    font-size: .95rem;
    color: var(--blue);
    margin: 0 0 12px 0;
}

.auth .ant-btn {
    font-size: .95rem;
    font-weight: 600;
    background: var(--bluesky);
    color: var(--white);
    border-radius: 50px;
    height: 45px;
    width: 100%;
}

/* ============================================================*/
/* Home
/* ============================================================*/
#home {
    width: 100%;
    height: calc(100vh - 139px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#home h1 {
    font-size: 3.5rem;
    font-weight: 900;
    color: #407EC9;
    line-height: 1.3;
    width: 40rem;
    margin: 0 0 20px 0;
}

#home p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--grey);
    line-height: 1.6;
    margin: 0 0 30px 0;
    width: 45rem;
}

#home a {
    font-size: 1.1rem;
    font-weight: bold;
    background: #407EC9;
    color: #ffffff;
    display: block;
    width: 16.2rem;
    padding: 12px 0;
    border-radius: 50px;
}

#home img {
    width: 25rem;
    height: auto;
}

/* ============================================================*/
/* Footer
/* ============================================================*/
#footer .ubicacion {
    display: inline-flex;
}

#footer .ubicacion img {
    width: 4.8rem;
    height: 4.8rem;
    margin: 0 15px 0 0;
    filter: brightness(var(--filter));
}

#footer .ubicacion p {
    font-size: .85rem;
    width: 15rem;
    color: var(--bluesky);
    text-align: left;
    margin: auto;
    opacity: .8;
}

#footer .logo img {
    width: 12rem;
    height: 5.2rem;
    filter: brightness(var(--filter));
}

#footer .social-media {
    display: inline-flex;
}

#footer .social-media a {
    font-size: 1.6rem;
    width: 4rem;
    height: 4rem;
    color: var(--white);
    background: var(--bluesky);
    margin: 0 15px;
    border-radius: 100%;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

#footer .social-media a.instagram {
    font-size: 2rem;
}

#footer .social-media a:hover {
    color: var(--bluesky);
    background: var(--white);
    border: solid;
}

#footer .ano p {
    font-size: .8rem;
    color: var(--bluesky);
    margin: 0;
    opacity: .8;
}

/* ============================================================*/
/* ScrollBar
/* ============================================================*/
html::-webkit-scrollbar {
    width: 12px;
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--blue);
    border: 3px solid var(--white);
}