/* ============================================================*/
/* Navbar
/* ============================================================*/
#navbar img {
    width: 170px;
    height: 75px;
    filter: brightness(var(--filter));
    cursor: pointer;
}

#navbar a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--bluesky);
    margin: 0 8px;
    transition: all 0.5s ease;
    cursor: pointer;
}

#navbar .social-media {
    display: inline-flex;
}

#navbar .social-media a:hover {
    color: var(--bluesky);
    background: var(--white);
    border: solid;
}

#navbar .notify {
    width: 30px !important;
    height: 30px !important;
    filter: none !important;
}

/* ============================================================*/
/* Home
/* ============================================================*/
#home h1 {
    width: 600px;
}

/*===Phone===**/
@media (max-width: 575.98px) {
    h1 {
        width: 100%;
    }
}

/*===Ipad===**/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        width: 510px;
    }
}

#home p {
    width: 600px;
}

/*===Phone===**/
@media (max-width: 575.98px) {
    #home p {
        width: 100%;
    }
}

/*===Ipad===**/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #home p {
        width: 510px;
    }
}

#home img {
    max-width: 100%;
    height: auto;
}

/* ============================================================*/
/* Auth
/* ============================================================*/
#auth p {
    font-size: .8rem;
    color: var(--bluesky);
    float: right;
    cursor: pointer;
}

#auth strong {
    color: var(--required) !important;
    font-size: 0.75rem;
    font-weight: 600;
}

#auth small {
    font-size: .8rem;
    color: #ffffff;
    background: #407EC9;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

#auth small div {
    font-size: .75rem;
    font-weight: 500;
    color: #3C3C3B;
    background: #ffffff;
    border-radius: 5px;
    margin: 0 0 0 8px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

/* ============================================================*/
/* Footer
/* ============================================================*/
#footer .ubicacion {
    display: inline-flex;
}

#footer .ubicacion img {
    width: 75px;
    height: 75px;
    margin: 0 15px 0 0;
    filter: brightness(var(--filter));
}

#footer .logo img {
    width: 190px;
    height: 80px;
    filter: brightness(var(--filter));
}

#footer .social-media {
    display: inline-flex;
}

#footer .social-media a {
    font-size: 25px;
    width: 63px;
    height: 63px;
    color: var(--white);
    background: var(--bluesky);
    margin: 0 15px;
    border-radius: 100%;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

#footer .social-media a.instagram {
    font-size: 30px;
}

#footer .social-media a:hover {
    color: var(--bluesky);
    background: var(--white);
    border: solid;
}

/* ============================================================*/
/* Dashboard
/* ============================================================*/
#dashboard img {
    width: 130px;
    height: 130px;
    padding: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid var(--border);
}

#dashboard strong {
    display: block;
    color: var(--grey);
}

/* ============================================================*/
/* ScrollBar
/* ============================================================*/

html::-webkit-scrollbar {
    width: 12px;
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--blue);
    border: 3px solid var(--white);
}